### using an input function in python
username = input("Enter your username: ")
address = input("Enter your address: ")
age = int(input("Enter your age: "))
phoneNo = input("Enter your phone Number: ")

print("My name is", username, "I am", age, "years old. I live in ", address, "You can reach me on", phoneNo)

In [2]:
# Students Info
students_name = input("Enter your name: ")
students_email = input("Enter your email: ")
students_address = input("Enter your address: ")
students_lga = input("enter your lga:")
print("The Physics student's name is",students_name)
print("His school email address as a student is",students_email)
print("He lives in",students_address)
print("his lga is",students_lga)

Enter your name: Oloyede Hammed
Enter your email: oloyedehammed089@gmail.com
Enter your address: No 33(c),Fatai Azeez Street, Off Ilesha Garage Oshogbo
enter your lga:Ayedaade Local Govt
The Physics student's name is Oloyede Hammed
His school email address as a student is oloyedehammed089@gmail.com
He lives in No 33(c),Fatai Azeez Street, Off Ilesha Garage Oshogbo
his lga is Ayedaade Local Govt

In [4]:
a=10
b="name"
c= True
d= 300.0
print (type(a))
print (type(b))
print (type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [10]:
value1= float(200)
value2= int(55.667)
value3=complex(1)
#value4= str(1)
#value5= str(2)
value4_1= int(1)
value5_2= int(2)
value6= value4_1+value5_2
print (value6)
print(value6)
print (value1)
print (value2)
print(value3)

3
3
200.0
55
(1+0j)

In [11]:
print(10==20)
print("a"=="b")
print(10!=10)
print(10<20)
print(20<=30)

False
False
False
True
True

In [15]:
x=10
if(x==10):
 print("True")
else:
    print("false")

True

In [16]:
print(bool(15==10))

False

In [17]:
name1="Hammed"
name2="Gbenga"
print(bool(name1==name2))

False

In [19]:
y=2
def display():
    print(y)
display()

2

In [25]:
def local():
    global z
    z=1000
    print (z)
local()
print(z)

1000
1000

In [10]:
states=["osun","oyo","ogun"]
print (states)
print(len(states))

['osun', 'oyo', 'ogun']
3

In [9]:
items=["bag",40,50,"shoe"]
print(items)
print(type(items))

['bag', 40, 50, 'shoe']
<class 'list'>

In [8]:
courses=["python","web design","graphix"]
print(type(courses))

<class 'list'>

In [11]:
days=list(("monday","tuesday","wednesday"))
print(days)

['monday', 'tuesday', 'wednesday']

In [17]:
dataset=["joy","wale","hammed","kunle"]
print(dataset[3])
print(dataset[-1])
print(dataset[-2])

kunle
kunle
hammed

In [29]:
pills=["pcm","amp","flagyl","bloodcap"]
print(pills[0:2])
print(pills[1:])
print(pills[:2])
print(pills[-3:-1])
if "pcm" in pills:
    print("data is available")
else:
    print("data not available")

['pcm', 'amp']
['amp', 'flagyl', 'bloodcap']
['pcm', 'amp']
['amp', 'flagyl']
data is available

In [31]:
fig1=[1,2,3,4,5,6,7,8]
fig1[1]=10
print(fig1)
fig1[5:]=[9,11,12]
print(fig1)

[1, 10, 3, 4, 5, 6, 7, 8]
[1, 10, 3, 4, 5, 9, 11, 12]

In [39]:
fruits=["mango","orange","apple","banana"]
fruits.insert(1,"cashew")
print(fruits)

['mango', 'cashew', 'orange', 'apple', 'banana']

In [82]:
dataset=["house","school","hospital","company"]
dataset.insert(3,"police station")
dataset.insert(4,"supermarket")
dataset.append("market")
dataset2=["pharmacy","fashion store","mechanical workshop","furniture"]
dataset.extend(dataset2)
dataset.remove("furniture")
dataset.pop(3)
del dataset[2]
print(dataset)

['house', 'school', 'supermarket', 'company', 'market', 'pharmacy', 'fashion store', 'mechanical workshop']

In [34]:
#tupple usage(h0w to upate tuple)
dataset1=(1,2,3,4,5)
print (dataset1)
dataset2=("book","bag","pen")
print (dataset2)
print(dataset1[1])
print (dataset2[2])
print (dataset2[:2])
print (dataset2[0:])
print (dataset2[-3:-1])

(1, 2, 3, 4, 5)
('book', 'bag', 'pen')
2
pen
('book', 'bag')
('book', 'bag', 'pen')
('book', 'bag')

In [46]:
tuple2=("osogbo","ibadan","lagos")
x=list(tuple2)
x[1]="ekiti"
tuple1= tuple(x)
print (tuple2)
x=list(tuple2)
x[2]="Ibadan"
tuple1=tuple(x)
print (tuple2)

('osogbo', 'ibadan', 'lagos')
('osogbo', 'ibadan', 'lagos')

In [32]:
#adding items into the list
tuple3=("osogbo","ibadan","lagos")
i=list(tuple3)
i.append("abeokuta")
tuple3=tuple(i)
print (tuple3)
#remove from tuple
i=list(tuple3)
i.remove("lagos")
tuple3=tuple(i)
print(tuple3)
#add two items
item1=(1,2,3,4)
item2=(5,6)
item1 += item2
print(item1)
#unpack
states=("osun","kaduna","delta","enugu")
(west,north,southsouth,east)=states
print(west)
print(north)
print(southsouth)
print(east)
#unpack
names=("hammed","tuface","ronaldo","messi","mikel","lebrojames")
(tech,music,*sport)=names
print(tech)
print(music)
#looping a tuple
print(sport)
for i in sport:
    print(i)
#joining tuple
num1=(1,2,3,4)
num2=(5,6,7,8)
num3=num1+num2
for a in num3:
    print(a)
for c in num3:
    print(c*2)
#countmethod
fruits=("oranges","banana","apple","pineapple","orange","apple","apple")
print(fruits.count("apple"))

('osogbo', 'ibadan', 'lagos', 'abeokuta')
('osogbo', 'ibadan', 'abeokuta')
(1, 2, 3, 4, 5, 6)
osun
kaduna
delta
enugu
hammed
tuface
['ronaldo', 'messi', 'mikel', 'lebrojames']
ronaldo
messi
mikel
lebrojames
1
2
3
4
5
6
7
8
2
4
6
8
10
12
14
16
3

In [22]:
#set
set1={1,2,3,4,5}
set2={"A","B","C","D","E"}
print (set1,"\n",set2)
set1={1,2,3,4,5}
set2={"A","B","C","D","E"}
for x in set1:
    print(x)
for i in set2:
    print(i)
food_items={"Beans","Rice","Yam","Semo"}
print("Rice" in food_items)
Agebracket={"10-15","16-21","22-28"}
print("check if agebracket is true","\n", "This Age brcket is","29-34" in Agebracket)

{1, 2, 3, 4, 5}
 {'A', 'B', 'D', 'E', 'C'}
1
2
3
4
5
A
B
D
E
C
True
check if agebracket is true
 This Age brcket is False

In [21]:
#adding using set
places={"Osogbo","Oyo","Ogbomosho"}
places.add("Ibadan")
print(places)

{'Oyo', 'Ogbomosho', 'Osogbo', 'Ibadan'}

In [27]:
items={"biro","pencil","crayon","ruler"}
items.add("sharpner",)
print(items)

{'biro', 'pencil', 'sharpner', 'crayon', 'ruler'}

In [34]:
#adding more than one set
cars={"volvo","camry","mazda"}
cars2={"benz","ford","bmw"}
cars3=["rovers","range","volks"]
cars.update(cars3)
print(cars)

{'volvo', 'rovers', 'volks', 'camry', 'mazda', 'range'}

In [32]:
#removing set(remove)
dataset1={1,2,3,4,5}
dataset1.remove(3)
print(dataset1)

{1, 2, 4, 5}

In [35]:
#removing set(discard)
dataset1={1,2,3,4,5}
dataset1.discard(4)
print(dataset1)

{1, 2, 3, 5}

In [37]:
dataset2={"Orange","Beans","Apple","Grapes"}
dataset2.discard("Beansss")
print(dataset2)

{'Grapes', 'Apple', 'Orange', 'Beans'}

In [38]:
#removing set using pop
dataset1={1,2,3,4,5}
dataset1.discard(4)
y=dataset1.pop()
print(y)

1

In [39]:
#using clear
dataset1={1,2,3,4,5}
dataset1.clear()
print(dataset1)

set()

In [40]:
#using loop
dataset1={1,2,3,4,5}
for i in dataset1:
    print(i)

1
2
3
4
5

In [43]:
#union-joining set
char1={"A","B","C","D"}
char2={1,2,3,4}
y=char1.union(char2)
print(y)

{'A', 1, 2, 3, 4, 'D', 'C', 'B'}

In [3]:
x="python is"
y=" awesome"
z=x+y
print(z)

python is awesome

In [6]:
x=" awesome"
print ("python is"+ x)

python is awesome

In [2]:
#update and union in set
set1={1,2,3,4,5}
set2={"a","b","c"}
set3=set1.union(set2)
print(set3)
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 'a', 'b', 'c'}
{1, 2, 3, 4, 5, 'a', 'b', 'c'}

In [4]:
#intersection of set
dataset1={"BMW","BENZ","COROLLA",}
dataset2={"AUDI","BENZ","NISSAN"}
dataset1.intersection_update(dataset2)
print(dataset1)
dataset1.intersection(dataset2)

{'BENZ'}

{'BENZ'}

In [9]:
#symetric_difference_update
state1={"Osun","Ogun","Oyo","Lagos"}
state2={"Ondo","Ekiti","Osun","Lagos"}
state1.symmetric_difference_update(state2)
print(state1)
x=state1.symmetric_difference(state2)
print(x)

{'Oyo', 'Ondo', 'Ogun', 'Ekiti'}
{'Osun', 'Oyo', 'Lagos', 'Ogun'}

In [13]:
student1={"Ayo","Bola","Tunde","Tunji"}
student2={"Isaac","Raph","Ayo","Bola"}
y=student1.symmetric_difference(student2)
print(y)

{'Raph', 'Tunji', 'Isaac', 'Tunde'}

In [38]:
#DICTIONARY
students_info={"Name":"Hammed",
               "Gender":"Male",
               "Age":"20years",
               "Hobby":"Soccer",
               "Subject":["Maths","English","Physics"],
              }
print(students_info)
for i,y in students_info.items():
    print(i,y)

{'Name': 'Hammed', 'Gender': 'Male', 'Age': '20years', 'Hobby': 'Soccer', 'Subject': ['Maths', 'English', 'Physics']}
Name Hammed
Gender Male
Age 20years
Hobby Soccer
Subject ['Maths', 'English', 'Physics']

In [51]:
country={"name":"nigeria",
         "states":{1:"Osun",
                   2:"Ogun",
                   3:"Oyo",
                   4:"Lagos",
                   5:"Ondo"},
         "Language":"English"}
for key,value in country.items():
      print(key,"\t",value)
      for i,j in country.items():
        print(i,j)

name 	 nigeria
name nigeria
states {1: 'Osun', 2: 'Ogun', 3: 'Oyo', 4: 'Lagos', 5: 'Ondo'}
Language English
states 	 {1: 'Osun', 2: 'Ogun', 3: 'Oyo', 4: 'Lagos', 5: 'Ondo'}
name nigeria
states {1: 'Osun', 2: 'Ogun', 3: 'Oyo', 4: 'Lagos', 5: 'Ondo'}
Language English
Language 	 English
name nigeria
states {1: 'Osun', 2: 'Ogun', 3: 'Oyo', 4: 'Lagos', 5: 'Ondo'}
Language English

In [12]:
#database for 10 students
students_info={"students_id":"AL1",
               "students_name":"Tunde",
               "students_gender":"male",
               "students_dept":"Business admin",
               "students_course":["economics","business"],
               "students_level":"100l"
              }
print(students_info)

{'students_id': 'AL1', 'students_name': 'Tunde', 'students_gender': 'male', 'students_dept': 'Business admin', 'students_course': ['economics', 'business'], 'students_level': '100l'}

In [136]:
students_var={"001":{"Name":"Tunde",
                "Gender":"Male",
                "Dept":"Mass Com",
                "Courses":["Lan101","Mass101","Lan102"],
                "Level":"100l",
                "CGPA":{"First Sem":2.89,"Second Sem":3.12},
                    },
              "002":{
                  "Name":"Akin",
                  "Gender":"Male",
                  "Dept":"Computer Science",
                  "Courses":["csc101","csc102","csc103"],
                  "Level":"100l",
                  "CGPA":{"First Sem":3.00,"Second Sem":3.15},
                    },
              "003":{
                  "Name":"Funmi",
                  "Gender":"Female",
                  "Dept":"Sociology",
                  "Courses":["soc101","soc102","soc102"],
                  "Level":"100l",
                  "CGPA":{"first Sem":3.13,"Second Sem":3.00},
                    },
              "004":{
                  "Name":"Titi",
                  "Gender":"Female",
                  "Dept":"Microbiology",
                  "Courses":["mcb101","mcb102","mcb103"],
                  "Level":"100l",
                  "CGPA":{"First Sem":2.98,"First Sem":2.10},
                    },
              "005":{
                  "Name":"Damola",
                  "Gender":"Female",
                  "Dept":"Economics",
                  "Courses":["eco101","eco102","eco103"],
                  "Level":"100l",
                  "CGPA":{"First Sem":2.15,"Second Sem":3.25},
                    },
              
                    }
#print(students_var)
# y=5
# resu=[]

# for i in students_var.values():
#     print(i)
#     list(i)
#     resu.append(i[y])
#     print(resu)
# dictValues= str(students_var.keys())
       
outp1,outp2,outp3 = students_var["001"]['CGPA'],students_var["002"]['CGPA'], students_var["003"]['CGPA']
print(outp1,outp2,outp3)

{'First Sem': 2.89, 'Second Sem': 3.12} {'First Sem': 3.0, 'Second Sem': 3.15} {'first Sem': 3.13, 'Second Sem': 3.0}

In [153]:
#control flow chart
#IF statement
x=10
if x < 20:
    print("10 is less than 20")

10 is less than 20

In [159]:
#for If else statement
x=10
if x > 20:
    print("10 is less than 20")
else:
    print("Invalid Statement")

Invalid Statement

In [175]:
#elif(else.....if..)
x=5,
y=15,
z=26,
if x==y:
    print(x)
elif y > x or x > y:
    print ("'y' is greater than 'x'")
else:
    print("Above statements are not correct")

'y' is greater than 'x'

In [178]:
#Test Work
y=2,
j=10
if y==j:
    print("True")
else:
    print("'y' is not equal to 'j'")

'y' is not equal to 'j'

In [183]:
i=5,
k=4,
if i > k:
    print ("5 is greater than 4")

5 is greater than 4

In [184]:
u=3
z=2
if u < z:
    print ("U is less than Z")
else:
    print ("the above statement is FALSE")

the above statement is FALSE

In [192]:
#elif
u=2
y=10
z=5
j=4
n=3
if u==y:
    print ("'y' is greater than 'u'")
elif y > u and z > j:
    print (True)
elif n < u  :
    print ("above statements are True")

True

In [7]:
#tenary operator
print("welcome") if 10<20 else print("invalid")

welcome

In [10]:
print("Good Afternoon") if 1<2 else print ("Helloo") if 2>1 else print("The message is void")

Good Afternoon

In [11]:
print("Good Afternoon") if 1>2 else print("Heloo") if 2>1 else print("The message is void")

Heloo

In [12]:
print("welcome") if 10>20 else print("Invalid")

Invalid

In [14]:
x=10
i=25
print("x is greater than i") if x>i else print("i is equal to x") if i==x else print("i is greater than x")if i>x else print("all the above statements are wrong")

i is greater than x

In [16]:
#"AND"........"OR"
time_noon=12
if time_noon==12 or time_noon>11:
     print ("Good Afternoon")
else:
    print("Good day")

Good Afternoon

In [20]:
time_morning=7
time_sunrise=6
if time_morning==7 and time_sunrise==6:
    print("morning,sunrise")
else:
    print("good day")

morning,sunrise

In [5]:
a=10
b="a is greater" if a>5 else "a is lower" 
print (b)

a is greater

In [11]:
a=15
if a>10:
   print("a is greater than 10")
if a<20:
       print("and also it is less than 20")
else:
    print("The above statements are not correct")

a is greater than 10
and also it is less than 20

In [12]:
#NOTAND...............
d="Tunde"
e="Wasiu"
if not d==e:
    print("d is not the same with 'E'")
else:
    print("They are just the samething")

d is not the same with 'E'

In [13]:
#pass keyword
not ruuning a function just keeping it as a template,in order not to fly flag of errors just put pass keywor

SyntaxError: invalid syntax (881208262.py, line 2)

In [15]:
#loop.............#for..loop...
sports=["Soccer","Rugby","Basketball","Lawn Tennis"]
for j in sports:
    print(j)

Soccer
Rugby
Basketball
Lawn Tennis

In [17]:
for i in range (1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [1]:
#multiplication table 2,3.......11
for k in range(2,11):
    print(f"Multiplication Table of {k*1} \n")
    for l in range(1,13):
        print(f"{k}*{l} =", k*l, "\n")

Multiplication Table of 2

2*1 = 2

2*2 = 4

2*3 = 6

2*4 = 8

2*5 = 10

2*6 = 12

2*7 = 14

2*8 = 16

2*9 = 18

2*10 = 20

2*11 = 22

2*12 = 24

Multiplication Table of 3

3*1 = 3

3*2 = 6

3*3 = 9

3*4 = 12

3*5 = 15

3*6 = 18

3*7 = 21

3*8 = 24

3*9 = 27

3*10 = 30

3*11 = 33

3*12 = 36

Multiplication Table of 4

4*1 = 4

4*2 = 8

4*3 = 12

4*4 = 16

4*5 = 20

4*6 = 24

4*7 = 28

4*8 = 32

4*9 = 36

4*10 = 40

4*11 = 44

4*12 = 48

Multiplication Table of 5

5*1 = 5

5*2 = 10

5*3 = 15

5*4 = 20

5*5 = 25

5*6 = 30

5*7 = 35

5*8 = 40

5*9 = 45

5*10 = 50

5*11 = 55

5*12 = 60

Multiplication Table of 6

6*1 = 6

6*2 = 12

6*3 = 18

6*4 = 24

6*5 = 30

6*6 = 36

6*7 = 42

6*8 = 48

6*9 = 54

6*10 = 60

6*11 = 66

6*12 = 72

Multiplication Table of 7

7*1 = 7

7*2 = 14

7*3 = 21

7*4 = 28

7*5 = 35

7*6 = 42

7*7 = 49

7*8 = 56

7*9 = 63

7*10 = 70

7*11 = 77

7*12 = 84

Multiplication Table of 8

8*1 = 8

8*2 = 16

8*3 = 24

8*4 = 32

8*5 = 40

8*6 = 48

8*7 = 56

8*8 = 64

8*9 = 72

8*10 = 80

8*11 = 88

8*12 = 96

Multiplication Table of 9

9*1 = 9

9*2 = 18

9*3 = 27

9*4 = 36

9*5 = 45

9*6 = 54

9*7 = 63

9*8 = 72

9*9 = 81

9*10 = 90

9*11 = 99

9*12 = 108

Multiplication Table of 10

10*1 = 10

10*2 = 20

10*3 = 30

10*4 = 40

10*5 = 50

10*6 = 60

10*7 = 70

10*8 = 80

10*9 = 90

10*10 = 100

10*11 = 110

10*12 = 120

In [5]:
#programe on simple interest
def simple_interest(p,t,r):
  print('the principal rate',p)
  print('the rate of interest',r)
  print('the time period',t)
  si = (p * t * r)/100
  print ('the simple interest is',si)
simple_interest(10,20,15)

the principal rate 10
the rate of interest 15
the time period 20
the simple interest is 30.0

In [13]:
#while...loop...
i=1
while i < 20:
    
    print (i)
    i+=2

1
3
5
7
9
11
13
15
17
19

In [49]:
#break statement
i=0
while i<30:
    print(i)
    if i==6:
        break
    i+=1

0
1
2
3
4
5
6

In [53]:
i=0
while i<30:
    print(i)
    i+=1
    if i==10:
        continue

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [54]:
for j in range(1,100):
    print(j)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [55]:
for d in "Hammed":
    print(d)

H
a
m
m
e
d

In [110]:
alphabets= ["A","B","C","D"]
for a in alphabets:
    print(a)
    if a == "B":
        break

A
B

In [147]:
#using loop print 1-30 then break when its 20
for a in range(1,30):
      print(a)
      if a==20:
        break
      if a==20:
        continue

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [2]:
#functions
def displaymsg():
    print("Good Afternoon,this is my fuction")
displaymsg()

Good Afternoon,this is my fuction

In [9]:
def mylist():
    Lists=("Books","Shoes","cloth","bag")
    for i in Lists:
        print(i)
mylist()

Books
Shoes
cloth
bag

In [12]:
def addition():
    a=10
    b=25
    return a+b
addition()

35

In [15]:
def subtraction():
    a=14
    b=23
    return b-a
subtraction()

9

In [16]:
def add_2(a,b):
    return a*b
add_2(50,5)

250

In [24]:
def add_2():
    a=50
    b=5
    print (a*b)
add_2()

250

In [31]:
def family(fname,lname):
    print("first name:",fname,"\n",
    "Last name:",lname)
family("Hammed","Oloyede")
family("gboyega","Oloyede")

first name: Hammed
 Last name: Oloyede
first name: gboyega
 Last name: Oloyede

In [1]:
#write a function to display 5states nd one local govt each

def States(states,local):
    print("states:",states,"\n",
          "local:",local)
States("Osun","Ayedaade")
States("Oyo","Egbeda")
States("Kano","Bichi")
States("Ogun","Sagamu")
States("Delta","Asaba")

states: Osun
 local: Ayedaade
states: Oyo
 local: Egbeda
states: Kano
 local: Bichi
states: Ogun
 local: Sagamu
states: Delta
 local: Asaba

In [12]:
#arbitrary argments
def digit(*number):
    number=number
    for i in number:
     print("number:",i)
digit(1,2,3,4,5,6,7,8,9,10)

number: 1
number: 2
number: 3
number: 4
number: 5
number: 6
number: 7
number: 8
number: 9
number: 10

In [10]:
def nigeria (state1,state2,state3):
    nigeria_states=[state1,state2,state3]
    for i in nigeria_states:
      print(i)
nigeria(state1="Osun",state2="Ogun",state3="Oyo")

Osun
Ogun
Oyo

In [28]:
def united_states(**states):
    x=states
    for i,y in x.items():
        print(i,y)
united_states(states1="oklahoma",states2="illinois",states3="texas")

states1 oklahoma
states2 illinois
states3 texas

In [18]:
#arbitrary(keyword)
def digit(**number):
 c=number
 print(c)
 number=("number:",number,"\n")
 print(digit)
digit(numbber1=1,number2=2,number3=3,number4=4,number5=5,number6=6,number7=7,number8=8,number9=9,number10=10)

{'numbber1': 1, 'number2': 2, 'number3': 3, 'number4': 4, 'number5': 5, 'number6': 6, 'number7': 7, 'number8': 8, 'number9': 9, 'number10': 10}
<function digit at 0x000001D1A097E9E0>

In [15]:
#fuctions to display food with parameters
def my_function(food):
    for x in food:
        print(x)
fruits=["guava","banana","oranges","watermelon"]
vegetable=["spinach","salad","lettuce"]
my_function(fruits)
my_function(vegetable)

guava
banana
oranges
watermelon
spinach
salad
lettuce

In [19]:
#basic calculator/prompting users input

n1= float(input("Enter the First number:"))
n2= float(input("Enter the Second number:"))
print("{}+{}=".format(n1,n2))
print(n1+n2)
print("{}-{}=".format(n1,n2))
print(n1-n2)
print("{}*{}=".format(n1,n2))
print(n1*n2)
print("{}/{}=".format(n1,n2))
print(n1/n2)

Enter the First number:3
Enter the Second number:3
3.0+3.0=
6.0
3.0-3.0=
0.0
3.0*3.0=
9.0
3.0/3.0=
1.0

In [2]:
#basic calculator
def addition(n1,n2):
    return n1+n2
def subtraction(n1,n2):
    return n1-n2
def multiplication(n1,n2):
    return n1*n2
def division(n1,n2):
    return n1/n2
print("select operation")
print(
     "1.Addition\n"
     "2.Subtraction\n"
     "3.Multiplication\n"
     "4.Division\n")
operation= int(input("Enter choice of operation 1/2/3/4:"))
n1= float(input("Enter the first number:"))
n2= float(input("Enter the second number:"))
if operation==1:
    print(n1,"+",n2,"=",addition(n1,n2))
elif operation==2:
    print(n1,"-",n2,"=",subtraction(n1,n2))
elif operation==3:
    print(n1,"*",n2,"=",multiplication(n1,n2))
elif operation==4:
    print(n1,"/",n2,"=",division(n1,n2))
    
else:
        print("invalid input")

select operation
1.Addition
2.Subtraction
3.Multiplication
4.Division

Enter choice of operation 1/2/3/4:1
Enter the first number:200
Enter the second number:400
200.0 + 400.0 = 600.0

In [3]:
#conversion celsius to farhenheit
temp = eval(input('Enter a temperature in Celsius: '))
print('In Fahrenheit, that is', 9/5*temp+32)

Enter a temperature in Celsius: 240
In Fahrenheit, that is 464.0

In [3]:
x=lambda j:j*10
print(x(10))

100

In [4]:
d=lambda a,b,c:a*b/c
print(d(5,10,7))

7.142857142857143

In [1]:
def multiple(n):
 return lambda a:a*n
multiple_of = multiple(3)
print(multiple_of(10))

30

In [10]:
if 10>9:
    print("true")
else:
    print("false")

true

In [11]:
a=200
b=35
if a>b:
    print("a is greater than b")
else:
    print("b is greater than a")

a is greater than b

In [16]:
x="hello"
y=15
print(bool("hello"))
print(bool(15))
print(bool(x))
print(bool(y))

True
True
True
True

In [24]:
print(bool("abc"))
print(bool(123))
print(bool(["apple","mango","orange"]))

True
True
True

In [5]:
x=y=z=1
print(y)
print(x)
print(z)

1
1
1

In [11]:
x,y,z=1,2,"abc"
print(x)
print(y)
print(z)

1
2
abc