In [2]:
#using an input function in python
username = input("Enter your username: ")
address = input("Enter your address: ")
age = int(input("Enter your age: "))
phoneNo = input("Enter your phone Number: ")

print("My name is", username, "I am", age, "years old. I live in ", address, "You can reach me on", phoneNo)

Enter your username: Rotimi
Enter your address: Ring road
Enter your age: 34
Enter your phone Number: 819380133791
My name is Rotimi I am 34 years old. I live in  Ring road You can reach me on 819380133791

In [3]:
# Students Info
students_name = input("Enter your name: ")
students_email = input("Enter your email: ")
students_address = input("Enter your address: ")
print("The Physics student's name is",students_name)
print("His school email address as a student is",students_email)
print("He lives in",students_address)

Enter your name: Dayo Amoo
Enter your email: jingping@email.com
Enter your address: adedade estate
The Physics student's name is Dayo Amoo
His school email address as a student is jingping@email.com
He lives in adedade estate

In [4]:
a=10
b="name"
c= True
d= 300.0
print (type(a))
print (type(b))
print (type(c))
print(type(d))

<class 'int'>
<class 'str'>
<class 'bool'>
<class 'float'>

In [10]:
value1= float(200)
value2= int(55.667)
value3=complex(1)
#value4= str(1)
#value5= str(2)
value4_1= int(1)
value5_2= int(2)
value6= value4_1+value5_2
print (value6)
print(value6)
print (value1)
print (value2)
print(value3)

3
3
200.0
55
(1+0j)

In [11]:
print(10==20)
print("a"=="b")
print(10!=10)
print(10<20)
print(20<=30)

False
False
False
True
True

In [15]:
x=10
if(x==10):
 print("True")
else:
    print("false")

True

In [16]:
print(bool(15==10))

False

In [17]:
name1="Hammed"
name2="Gbenga"
print(bool(name1==name2))

False

In [19]:
y=2
def display():
    print(y)
display()

2

In [25]:
def local():
    global z
    z=1000
    print (z)
local()
print(z)

1000
1000